{% for vrf, config in vrfs.iteritems() %}

routing-instances {
    {{ vrf }} {
        instance-type virtual-router;

{% for interface in interface_list %}
{% if interface.startswith('xe') %}
        interface {{ interface }}.{{ config.id }};
{% endif %}
{% endfor %}
    }
}
{% endfor %}
