{% for vlan, vlan_config in vlans.iteritems() %}

vlan {{ vlan_config.id }}
   name {{  vlan }}

interface Vlan{{ vlan_config.id }}
   ip address {{ vlan_config.network }}.{{ id }}.1/24

{% endfor %}

{% for vlan, mapping in vlan_mapping.iteritems() %}
    {% for interface in mapping %}

interface Ethernet{{ interface }}
    switchport access vlan {{ vlans[vlan].id }}

    {% endfor %}
{% endfor %}
