{% if model == 'DCS-7050TX-64-F' %}
queue-monitor length update-interval 5000000
{% endif %}

transceiver qsfp default-mode 4x10G

hostname {{ inventory_hostname }}

spanning-tree mode mstp

no ip routing

{% for interface in interface_list %}
{% if not ( interface.startswith('Management') ) %}
interface {{ interface }}
   no switchport
{% endif %}
{% endfor %}
