policy-options {
    policy-statement DEFAULT {
        then accept;
    }
    policy-statement MAINTENANCE {
        then {
          local-preference 140;
          accept;
        }
    }
}


{% for neighbor in downstream %}
interfaces {
     ge-0/0/{{ neighbor['port'] }}.0 {
            family inet {
                address {{ downstream_network_range }}.{{ neighbor['port'] * 2 }}/31;
            }
        }
}
protocols {
    bgp {
        group DOWNSTREAM {
            neighbor {{ downstream_network_range }}.{{ neighbor['port'] * 2 + 1 }} {
                export {{ neighbor['policy'] }}
                peer-as {{ neighbor['asn'] }}
            }
        }
    }
}
{% endfor %}
