{% macro configure_interfaces_spine() %}
{% set link_id = 0 %}

{% for interface in interface_list %}
{% if not ( interface.startswith('Management') ) and interface_details[interface]['is_up'] %}
{% for vrf, config in vrfs.iteritems() %}
interface {{ interface }}.{{config.id}}
   encapsulation dot1q vlan {{config.id}}
   vrf forwarding {{ vrf }}
   ip address {{interconnect_range[id]}}.{{ 2*link_id }}/31
{% endfor %}
{% set link_id = link_id + 1 %}
{% endif %}
{% endfor %}
{% endmacro %}

{% macro configure_interfaces_leaf() %}

{% for vrf, config in vrfs.iteritems() %}
interface Ethernet49/1.{{config.id}}
   encapsulation dot1q vlan {{config.id}}
   vrf forwarding {{ vrf }}
   ip address {{interconnect_range[0]}}.{{ 2*(id-1)+1 }}/31

interface Ethernet49/2.{{config.id}}
   encapsulation dot1q vlan {{config.id}}
   vrf forwarding {{ vrf }}
   ip address {{interconnect_range[1]}}.{{ 2*(id-1)+1 }}/31
{% endfor %}
{% endmacro %}

{% if inventory_hostname.startswith('spine') %}
{{ configure_interfaces_spine() }}
{% else %}
{{ configure_interfaces_leaf() }}
{% endif %}

