config system interface
    edit "wan1"
        set ip {{ vrfs.frontend.access_range }}.{{ rack_id }}.{{ 255 - service_id }} 255.255.255.0
    next
    edit "wan2"
        set ip {{ vrfs.backend.access_range }}.{{ rack_id }}.{{ 255 - service_id }} 255.255.255.0
    next
end
config router bgp
    set as {{ vrfs.frontend.as_range + 10000 - service_id }}
        config neighbor
            edit "{{ vrfs.frontend.access_range }}.{{ rack_id }}.1"
                set remote-as {{ vrfs.frontend.as_range + rack_id }}
            next
            edit "{{ vrfs.backend.access_range }}.{{ rack_id }}.1"
                set remote-as {{ vrfs.backend.as_range + rack_id }}
            next
        end
end
