{% for interface in interface_list %}
{% if interface.startswith('Ethernet') %}
interface {{ interface }}
  no switchport
  ip address {{ core_interconnects[inventory_hostname] }}.{{ interface[-1]|int * 2}}/31

{% endif %}
{% endfor %}

router bgp {{ asn['core'] }}

{% for interface, neighbors in lldp_neighbors.iteritems() %}
{% set n = interface[-1]|int * 2 + 1 %}
{% for neighbor in neighbors %}
    neighbor {{ core_interconnects[inventory_hostname] }}.{{ n }} remote-as {{ asn[neighbor['hostname'].split('.')[1]]}}
    neighbor {{ core_interconnects[inventory_hostname] }}.{{ n }} description {{ neighbor['hostname'] }}

{% endfor %}
{% endfor %}
