{% include "include/base.j2" %}

{% include "include/aaa.j2" %}

{% include "include/management.j2" %}

{% include "include/defaults.j2" %}

{% include "include/defaults_dashboard.j2" %}

{% include "include/defaults_firewall.j2" %}
