{% for interface_id in spine_downlinks %}

interface Ethernet{{ interface_id }}
   description leaf{{ interface_id }}
   no switchport
   ip address {{ interconnect_range}}.{{id}}.{{ (interface_id-1)*2 }}/31

{% endfor %}

interface Loopback0
   ip address {{loopback}}/32

ip routing

router bgp {{ as_range }}
   maximum-paths 2 ecmp 2

{% for interface_id in spine_downlinks %}

   neighbor {{ interconnect_range}}.{{id}}.{{ (interface_id-1)*2 + 1 }} remote-as {{ as_range + loop.index }}
   neighbor {{ interconnect_range}}.{{id}}.{{ (interface_id-1)*2 + 1 }} maximum-routes 12000

{% if interface_id in interface_maintenance %}

   neighbor {{ interconnect_range}}.{{id}}.{{ (interface_id-1)*2 + 1 }} route-map BACKUP in
   neighbor {{ interconnect_range}}.{{id}}.{{ (interface_id-1)*2 + 1 }} route-map BACKUP out

{% endif %}

{% endfor %}

   network {{ loopback }}/32

route-map BACKUP permit 10
   set metric 20
