version {{ os_version }};

system {
    host-name {{ inventory_hostname.split('.')[0] }};
    domain-name {{ inventory_hostname.split('.')[1] }}
}
protocols {
    mstp {
        configuration-name MSTP;
    }
    lldp {
        port-id-subtype interface-name;
        interface all;
    }
}
