system {
    services {
        ssh;
        netconf {
            ssh;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any any;
            authorization info;
        }
    }
    name-server {
        {{ primary_dns_server }};
    }
    ntp {
        server {{ primary_ntp_server }};
        server {{ secondary_ntp_server }};
    }
}
interfaces {
     ge-0/0/0 {
        unit 0
            family inet {
                address {{ management_ip }};
            }
        }
}
