routing-instances {
{% for vrf, peers in netserv.iteritems() %}
    {{ vrf }} {
        protocols {
            bgp {
                group NETSERV {
                    export NORMAL-{{ vrf.upper() }};
                    multipath;
{% for peer, peer_config in peers.iteritems() %}
                    neighbor {{ peer }} {
                        peer-as {{ peer_config.as }};
                    }
{% endfor %}
                }
            }
        }
    }
{% endfor %}
}
