{% for interface_id in leaf_uplinks %}

interface Ethernet{{ interface_id }}
   description spine{{ loop.index0 }}
   no switchport
   ip address {{ interconnect_range}}.{{loop.index0}}.{{ (id-1)*2 + 1 }}/31

{% endfor %}

interface Loopback0
   ip address {{loopback}}/32

ip routing

router bgp {{ as_range+id }}
   maximum-paths 2 ecmp 2

{% for interface_id in leaf_uplinks %}

   neighbor {{ interconnect_range}}.{{loop.index0}}.{{ (id-1)*2 }} remote-as {{ as_range }}
   neighbor {{ interconnect_range}}.{{loop.index0}}.{{ (id-1)*2 }} maximum-routes {{ as_range }}

{% endfor %}

   network {{ loopback }}/32

{% for vlan, mapping in vlan_mapping.iteritems() %}

   network {{ vlans[vlan].network }}.{{ id }}.0/24

{% endfor %}
